// Icon

.icon {
  width: 24px;
  height: 24px;
}

.icon--small {
  width: 16px;
  height: 16px;
}

.delete-icon {
  font-size: 32px;
  line-height: 0.5;
  transition: color $time $curve;

  &:hover {
    color: $white;
  }
}