// Global

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: $white;
  color: $grey;
  padding: 6em 0 6em $sidebar-width;

  @media print {
    padding: 2em 0;
  }
}

a {
  text-decoration: none;
  color: $red;
  outline: 0;
  -webkit-print-color-adjust: exact;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

hr {
  display: block;
  height: 0;
  width: 100%;
  border: none;
  background: transparent;
  border-top: 2px solid $border;
  margin: 0;
}

.site-wrap {
  max-width: $site-width;
  width: 90%;
  margin: 0 auto;
}
