// Grid

$columns: 12;
$gutter: 1em;

.grid {
  margin-left: (-$gutter/2);
  margin-right: (-$gutter/2);
  display: flex;
  flex-wrap: wrap;

  &--middle {
    align-items: center;
  }
}


// Columns

[class*="grid__col--"] {
  padding-left: ($gutter/2);
  padding-right: ($gutter/2);
}

.grid__col--grow {
  flex: 1;
}

@for $i from 0 through $columns + 1 {
  .grid__col--#{$i} {
    width: (((100 / $columns) * $i) * 1%);
  }
}