// General typography

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: -0.35px;
  line-height: 1.5;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}



// Headlines

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  color: $grey-dark;
  margin: 0.75em 0;
  font-weight: 600;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  color: $grey;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0.5em 0;
}


// Paragraphs and lists

p {
  line-height: 1.5;
  margin: 0 0 1.5em 0;

  &:last-child {
    margin-bottom: 0;
  }
}


// Misc

strong {
  color: $grey-dark;
  font-weight: 600;
}

small {
  display: inline-block;
}